@import "~themes/variables.less";

@button-margins: .5rem;

.panel-container{
  background-color:@color-black;
  border:@border-thickness solid @border-color;
  border-radius: 1rem;
  text-align:center;
  margin:1rem;

  box-shadow:0 0 2rem @color-blue;

  h2{
    color:@color-white;
    text-shadow:0 0 2rem @color-purple;
  }

  .panel-body{
    hr{
      margin-bottom:.25rem;
      border-color: @color-blue;
      border-width: 1px;
    }

    .sidebuttons{
      display: flex;
      flex-direction: row;
      .store-button{
        flex: 1;
        min-height: 8rem;
        position: relative;
        
        padding:.25rem;
        display:inline-block;
        margin:(@button-margins / 2);

        span{
          position: absolute;
          top: 0;
          left: 50%;
          transform-origin: left center;
          transform: rotate(90deg);
        }
      }
    }
  }
}


.panel-container{
  flex:1 0 24rem;

  &.panel-fret{
    flex:0 1 100%;

    .panel-body{
      position:relative;
      width:100%;
      height:100%;
    }
  }

  &.panel-tools{
    min-width:30rem;
  }
}


.dragging{
  .main{
    
  }
  .panel-container{
    opacity:.5;
    border-style: dashed;
    margin:1.5rem;

    transition: margin .2s, opacity .2s;
  }
}

.panel-container{
  &.holding{
    opacity:.2;
    transition: all .2s;
  }

  &.dragging{
    opacity:.2;
  }
}

.panel-header{
  padding:.5rem;
  border-bottom:1px solid @border-color;

  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:hover{
    background-color:purple;
    box-shadow:0 0 2rem @color-purple;
    transition: all .2s;
  }
}


.drag-spacer{
  position:relative;
  width:100%;
  height:0rem;

  >div{
    position:absolute;
    height:1rem;
    top:-.5rem;
    left:0;
    width:80%;
    left:10%;

    border-radius:2rem;
    background-color:@color-purple;
    box-shadow:0 0 2rem @color-purple;
  }
}

/* TODO, remove this need for specificity */
#workspace .panelgroup.mod-bottom .panel-container.panel-musickey{
  flex-basis: 30rem;
}

.panel-container{

  &.panel-musickey{
    .subpanel{
      padding: .25rem;
    }

    .store-button{
      padding:.25rem;
      display:inline-block;
      margin:(@button-margins / 2);
      width:~"calc(25% - .5rem)";
    }
    
    h2{
      color: @color-white;
      text-shadow:0 0 2rem @color-purple;
    }

    .active-notes{
      span{
        display:inline-block;
        padding:.25rem .75rem;
        color: @color-purple;
      }
    }
  }

  &.panel-chord,
  &.panel-scale {
    min-height:20rem;
    // min-height:15rem;
    .store-button{
      font-size:1.5rem;
      padding:.25rem;
      margin:@button-margins;
    }
  }

  &.panel-instrument{
    min-height:14rem;

    .panel-body{
      overflow-y:hidden;
      height:100%;
    }

    .instrument-groups{
      height:100%;
      display:flex;
      
      div.left,div.right{
        flex:1;
        display:flex;
        flex-direction:column;
        width:50%;
        padding:1rem;

        select{
          flex:1;
          width:100%;
        }
      }
    }
  }

  &.panel-mode{
    min-height:12rem;
    
    .panel-body{
      padding:.5rem;
      height:100%;

      .select-dropdown{
        width:100%;
        height:100%;
      }
    }
  }

  &.panel-pattern{
    min-height:12rem;

    .panel-body{
      display:flex;
      height:100%;
      padding:.5rem;
    }
    .store-button{
      flex:1;
      white-space:nowrap;
      margin:.5rem .5rem;
      padding:1rem .5rem;

      &.active-button{
        background-color: @color-green;
        color: @color-black;
        box-shadow:0 0 1.5rem @color-green;
      }
    }
  }

  &.panel-settings{
    min-height:8rem;
  }

  &.panel-tools{
    min-height:24rem;
    color:@color-blue;
    text-shadow:0 0 1rem @color-blue;

    hr{
      border-color:@color-blue;
    }

    .selection-buttons{
      >*{
        display:inline-block;
        margin:.5rem;
        width:8rem;
      }
      .icon-container{
        min-height: 6rem;
      }

      padding-bottom:.5rem;
    }

    .found-keys{
      padding-top:.25rem;

      border-top: 1px solid @color-blue;
      transition: color .5s;

      cursor: pointer;
      .active{
        color: @color-red;
        text-shadow:0 0 1rem @color-red;
        transition: color .5s;
      }
      .key-list span{
        &:hover{
          color: @color-white;
          text-shadow:0 0 1rem @color-white;
          transition: color .5s;
        }
      }
      .scale-list p{
        &:hover{
          color: @color-white;
          text-shadow:0 0 1rem @color-white;
          transition: color .5s;
        }
      }

      span{
        padding: 0rem .5rem;
      }

      .found-keys-scalelabel{
        padding: 0rem;
        color: @color-purple;
        text-shadow:0 0 1rem @color-purple;
      }

    }
  }

  &.panel-tools,&.panel-settings{
    .selection-buttons{
      >*{
        display:inline-block;
        margin:.5rem;
        width:6rem;
      }
    }

    .volume-container{
      text-align:center;
      color:@color-blue;

      margin:1rem;
      input{
        cursor:pointer;
      }
    }
  }
}

