@import "~themes/variables.less";

@button-margins: .5rem;

.panel-container{
  background-color:@color-black;
  border:@border-thickness solid @border-color;
  border-radius: 1rem;
  text-align:center;
  margin:1rem;

  box-shadow:0 0 2rem @color-blue;
}


.layout-horizontal{
  .panel-container{
    flex:1 0 24rem;

    &.panel-fret{
      flex:0 1 100%;

      .panel-body{
        position:relative;
        width:100%;
        height:100%;
      }
    }

    &.panel-tools{
      min-width:30rem;
    }
  }
  // sideways panels
  // .panel-container{
  //   width:100%;
  //   flex-direction:row;

  //   .panel-header{
  //     writing-mode: vertical-lr;
  //     text-orientation: mixed;
  //   }

  //   .panel-body{
  //     width:100%;
  //     position:relative;
  //   }
  // }
}

.dragging{
  .main{
    
  }
  .panel-container{
    opacity:.5;
    border-style: dashed;
    margin:1.5rem;

    transition: margin .2s, opacity .2s;
  }
}

.panel-container{
  &.holding{
    opacity:.2;
    transition: all .2s;
  }

  &.dragging{
    opacity:.2;
  }
}

.panel-header{
  padding:.5rem;
  border-bottom:1px solid @border-color;

  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:hover{
    background-color:purple;
    box-shadow:0 0 2rem @color-purple;
    transition: all .2s;
  }

  h2{
    color:@color-white;
    text-shadow:0 0 2rem @color-purple;
  }
}


.drag-spacer{
  position:relative;
  width:100%;
  height:0rem;

  >div{
    position:absolute;
    height:1rem;
    top:-.5rem;
    left:0;
    width:80%;
    left:10%;

    border-radius:2rem;
    background-color:@color-purple;
    box-shadow:0 0 2rem @color-purple;
  }
}

.panel-container{

  &.panel-musickey{
    .store-button{
      padding:.25rem;
      display:inline-block;
      margin:(@button-margins / 2);
      width:~"calc(25% - .5rem)";
      // margin-bottom:@button-margins;
    }
  }

  &.panel-chord,
  &.panel-scale,
  &.panel-instrument{
    min-height:20rem;
    .store-button{
      font-size:1.5rem;
      padding:.25rem;
      margin:@button-margins;
    }

    .instrument-groups{
      height:100%;
      overflow-y:none;
      div.left,div.right{
        display:inline-block;
        vertical-align:top;
        width:50%;
        height:100%;
        overflow-y:hidden;

        >div{
          overflow-y:auto;
          height:~"calc(100% - 3.5rem)";
        }
      }
    }
  }

  &.panel-notedisplay,
  &.panel-chorddisplay{
    min-height:8rem;
    .store-button{
      margin:0.5rem;
    }

    span{
      display:inline-block;
      padding:.5rem;
    }

    .panel-body{
      overflow-y: hidden;
    }
  }

  &.panel-tools{
    min-height:24rem;
    color:@color-blue;
    text-shadow:0 0 1rem @color-blue;

    .selection-buttons{
      >*{
        display:inline-block;
        margin:.5rem;
        width:8rem;
      }
      .icon-container{
        min-height: 6rem;
      }

      padding-bottom:.5rem;
    }

    .found-keys{
      padding-top:.25rem;

      border-top: 1px solid @color-blue;
      transition: color .5s;

      cursor: pointer;
      .active{
        color: @color-red;
        text-shadow:0 0 1rem @color-red;
        transition: color .5s;
      }
      .key-list span{
        &:hover{
          color: @color-white;
          text-shadow:0 0 1rem @color-white;
          transition: color .5s;
        }
      }

      span{
        padding: 0rem .5rem;
      }

      .found-keys-scalelabel{
        padding: 0rem;
        color: @color-purple;
        text-shadow:0 0 1rem @color-purple;
      }

    }
  }

  &.panel-tools,&.panel-settings{
    .selection-buttons{
      >*{
        display:inline-block;
        margin:.5rem;
        width:6rem;
      }
    }

    .volume-container{
      text-align:center;
      color:@color-blue;

      margin:1rem;
      input{
        cursor:pointer;
      }
    }
  }
}