@import "~themes/variables.less";

.store-button{
  cursor:pointer;
  background-color: @color-blue;
  color:@color-white;
  border-radius:.5rem;
  // border:@border-thickness solid @border-color;

  &:hover {
    background-color:@color-blue-dark;
    color:@color-blue-light;
    box-shadow:0 0 2rem @color-purple;
    transition:all .2s;
  }

  &:active{
    background-color:@color-purple;
  }

  &.active-button{
    background-color: @color-purple;

    &:hover {
      background-color:@color-purple-dark;
    }
  }

  &.disabled-button{
    cursor: not-allowed;
    background-color: @color-black;

    &:hover {
      background-color:@color-black;
    }
  }
}



.combo-button{
  background-color: @color-blue; 
  // border: .25rem solid @color-blue-dark;
    box-shadow:0 0 2rem @color-purple-dark;
  border-radius:1rem;
  cursor:pointer;
  padding:.5rem;

  &:hover {
    background-color:@color-blue-dark;
    color:@color-blue-light;
    box-shadow:0 0 2rem @color-purple;
    transition:all .2s;
  }

  &:active{
    background-color:@color-purple;
  }

  &.active-button{
    background-color: @color-purple;

    &:hover {
      background-color:@color-purple-dark;
    }
  }

  .icon-container{
    height:5rem;
    padding:1rem;
  }

  p{
    text-align:center;
    color:@color-blue-light;
    font-size:1rem;
    text-decoration:none;
  }
}

.icon-scalemode-true{
  background-image: url("~images/icon-scalemode-on.png");
}

.icon-scalemode-false{
  background-image: url("~images/icon-scalemode-off.png");
}

.icon-editnote-true{
  background-image: url("~images/icon-editnote.png");
}

.icon-editnote-false{
  background-image: url("~images/icon-editnote.png");
}

.icon-reset-false{
  background-image: url("~images/icon-reset.png");
}

.button-icon{
  background-size:100%;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}
