@import "~themes/variables.less";

.store-button{
  cursor:pointer;
  background-color: @color-blue;
  color:@color-white;
  border-radius:.5rem;
  // border:@border-thickness solid @border-color;

  &:hover {
    background-color:@color-blue-dark;
    color:@color-blue-white;
    box-shadow:0 0 2rem @color-purple;
    transition:all .2s;
  }

  &:active{
    background-color:@color-purple;
  }

  &.active-button{
    background-color: @color-purple;

    &:hover {
      background-color:@color-purple-dark;
    }
  }

  &.centered-text{
    position:relative;

    span{
      position:absolute;
      left:0;
      right:0;
      top:50%;
      transform:translateY(-50%);
    }
  }
}



.combo-button{
  background-color: @color-blue; 
  // border: .25rem solid @color-blue-dark;
    box-shadow:0 0 2rem @color-purple-dark;
  border-radius:1rem;
  cursor:pointer;
  padding:.5rem;

  &:hover {
    background-color:@color-blue-dark;
    color:@color-blue-white;
    box-shadow:0 0 2rem @color-purple;
    transition:all .2s;
  }

  &.disabled-button{
    cursor: not-allowed;
    background-color: @color-black;
    box-shadow: none;
    opacity:.2;

    &:hover {
      background-color:@color-black;
    }
  }

  &:active{
    background-color:@color-purple;
  }

  &.active-button{
    background-color: @color-purple;

    &:hover {
      background-color:@color-purple-dark;
    }
  }

  .icon-container{
    height:5rem;
    padding:1rem;
  }

  p{
    text-align:center;
    color:@color-blue-white;
    font-size:1rem;
    text-decoration:none;
  }
}

.icon-scalemode-scale{
  background-image: url("~images/icon-scalemode-on.png");
}

.icon-scalemode-note,.icon-tools-playnote-true,.icon-tools-playnote-false{
  background-image: url("~images/icon-scalemode-off.png");
}

.icon-scalemode-note{
  background-image: url("~images/icon-scalemode-off.png");
}

.icon-editnote-true{
  background-image: url("~images/icon-editnote.png");
}

.icon-editnote-false{
  background-image: url("~images/icon-editnote.png");
}

.icon-reset-false{
  background-image: url("~images/icon-reset.png");
}

.button-icon{
  background-size:100%;
  background-repeat:no-repeat;
  width:100%;
  height:100%;
}

.select-dropdown{
  background-color: @color-blue;
  color:@color-white;
  border:0;
  padding:1rem;
  border-radius: 1rem;
  font-size:1.5rem;
  border-right: .5rem solid transparent;
  cursor:pointer;

  option{
    background-color:@color-black;
    color:@color-blue-light;
  }

  &:focus{
    outline: none;
  }
}