@import "~themes/variables.less";


#drag-cover{
  position:fixed;
  left:0;
  top:0;
  width:0;
  height:0;
  z-index:-1;

  &.dragging{
    width:100%;
    height:100%;
    z-index:999999;
    opacity:0;
  }
}

.main{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  overflow-y:hidden;

  .musicbox-container{
    display:none;
  }
}

.panelgroup{
  position:absolute;

  top:0px;
  height:100%;
  overflow-y:auto;

  &.mod-left{
    width:@panelgroup-left-width;
    left:0;
  }
  &.mod-center{
    width:@panelgroup-center-width;
    left:@panelgroup-left-width;
  }
  &.mod-right{
    width:@panelgroup-right-width;
    right:0;
  }
}

.panelgroup-column{
  display:flex;
  flex-direction:column;
  height:100%;
}

.panel-container{
  flex-shrink:1;
  min-height:15rem;
  display:flex;
  flex-direction:column;

  overflow: hidden;

  .panel-body{
    overflow-y:auto;
  }
}

