@import "~themes/variables.less";


#drag-cover{
  position:fixed;
  left:0;
  top:0;
  width:0;
  height:0;
  
  opacity:0;
  z-index:-1;

  &.dragging{
    width:100%;
    height:100%;
    z-index:999999;
  }
}

.main{
  position:absolute;
  left:0px;
  top:@header-height;
  width:100%;
  height:~"calc(100% - @{header-height})";
  overflow-y:hidden;

  .musicbox-container{
    display:none;
  }
}

#workspace{
  .panelgroup{
    position:absolute;
      
    top:0px;
    height:100%;
    overflow-y:auto;
  }

  &.layout-vertical{
    .panelgroup{
      display:flex;
      flex-direction:column;
      height:100%;
  
      &.mod-left{
        width:@panelgroup-left-width;
        left:0;
      }
      &.mod-center{
        width:@panelgroup-center-width;
        left:@panelgroup-left-width;
      }
      &.mod-right{
        width:@panelgroup-right-width;
        right:0;
      }
    }
  }

  &.layout-horizontal{
    .panelgroup{
      display:flex;
      flex-direction:row;
      width: 100%;
  
      &.mod-top{
        height:@panelgroup-top-height;
        left:0;
      }
      &.mod-bottom{
        top:@panelgroup-top-height;
        height:@panelgroup-bottom-height;
        flex-direction:column;
        left:0;
        flex-wrap: wrap;

        .panel-container{
          flex:1;
        }
      }
    }
  }
}



.panelgroup-row{
  display:flex;
  flex-direction:row;
  width:100%;
}
.panelgroup-column{
  display:flex;
  flex-direction:column;
  height:100%;
}

.panel-container{
  flex-shrink:1;
  min-height:15rem;
  display:flex;
  flex-direction:column;

  overflow: hidden;

  .panel-body{
    overflow-y:auto;
  }
}

