@import './variables.less';


*{
  box-sizing:border-box;
}
p, span, h1, h2, h3, h4, h5, h6{
  margin:0;
  padding:0;
}

html{
  font-size: 62.5%;

  body{
    font-family: @font-style-body;
    font-weight: 500;
    font-size: 1.8rem;

    margin:0;
    background-color:@color-black;
    color:@color-purple;
  }
}

body{
  font-size: 62.5%;
}

.main{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  overflow-y:hidden;

  .control-panel{
    position:absolute;
    width:@control-panel-width;
    
    height:100%;
    left:0px;
    top:0px;
    overflow-y:scroll;
  }

  .fretboard-container{
    position:absolute;
    left:@control-panel-width;
    right:@fret-panel-width;
    top:0;
    height:100%;
    overflow-y:scroll;
  }
}