@import './variables.less';

.hidden{
  display:none;
}

*{
  box-sizing:border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
p, span, h1, h2, h3, h4, h5, h6{
  margin:0;
  padding:0;
}

html{
  font-size: 62.5%;

  body{
    font-family: @font-style-body;
    font-weight: 500;
    font-size: 1.8rem;

    margin:0;
    background-color:@color-black;
    color:@color-purple;
  }
}

body{
  font-size: 62.5%;
}

h1{
  font-size:3rem;
}
h2{
  font-size:2rem;
}
