@header-height:2rem;

@fret-height: 6rem;
@fret-width: 4rem;
@fretboard-width: (6 * @fret-width);

@string-width:.2rem;
@string-separation: (@fret-width - @string-width);
@string-shift: (-.5 * @string-separation);

// @panelgroup-left-width:30rem;
// @panelgroup-center-width:30rem;
// @panelgroup-right-width:30rem;

@color-purple:#a246bd;
@color-purple-dark:#6e308e;
@color-blue-light:#e2eaf3;
@color-blue:#4679bd;
@color-blue-dark:#30588e;
@color-red:red;
@color-white:white;
@color-black:black;

@color-string:#694740;


@import (css) url('https://fonts.googleapis.com/css?family=Pacifico');
@font-style-header: 'Pacifico', cursive;
@font-style-body: Verdana;

@border-thickness: .2rem;
@border-color:@color-blue-dark;


@panelgroup-left-width:30%;
@panelgroup-center-width:40%;
@panelgroup-right-width:30%;


// @panelgroup-top-height:40%;
// @panelgroup-bottom-height:60%;
@panelgroup-top-height:@fretboard-width + 20rem;
@panelgroup-bottom-height:~"calc(100% - @{panelgroup-top-height})";