
@fret-height: 60px;
@fret-width: 40px;
@fretboard-width: (6 * @fret-width);
@string-width:2px;
@string-separation: (@fret-width - @string-width);
@string-shift: (-.5 * @string-separation);

@control-panel-width:235px;
@fret-panel-width:235px;

@color-purple:#a246bd;
@color-purple-dark:#6e308e;
@color-blue-light:#e2eaf3;
@color-blue:#4679bd;
@color-blue-dark:#30588e;
@color-red:red;
@color-white:white;
@color-black:black;

@font-style-body: Verdana;