@import "~themes/variables.less";


header{
  height:@header-height;
  margin-left:1rem;
  color:@color-purple-dark;

  h3{
    font-size:1.5rem;
    display:inline;
  }

  a{
    display:inline;
    margin-left:1rem;
    font-size:1.3rem;
    text-decoration:none;

    &:hover{
      text-decoration:underline;
      color:@color-blue;
    }
  }
}